.NavMain {
    background-color: #3cc3b5;
    position: relative;
    padding: 1rem 0;
    font-size: 2.1rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
        background-color: #3cc3b5;
        z-index: -1;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 2px 13px 3px rgba(0, 0, 0, 0);
        box-shadow: 0px 10px 13px -7px #000000, 0px 2px 13px 3px rgba(0, 0, 0, 0);
    }

    .nav.--item {
        border-right: 2px solid #ffffff;
        padding-right: 2.5rem;

        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                color: red;
                transition: all 0.5s;
            }
        }
    }

}