
$mainColor: #39c6b2;
$btn_color: #3cc395;
$border_color: #e4e4e4;
$text_color:#afafaf;
.layout {
    .content__title {
        background-color: $mainColor;
        position: relative;
        font-family: 'Bebas Neue';
        color: white;
        padding: 2rem 0;
        font-size: 3.1rem;
        margin: 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            left: 50%;
            margin-left: -50vw;
            background-color: $mainColor;
            z-index: -1;
        }
    }

    .cards {
        display: grid;

        @media(max-width: 978px) {}

        @media(min-width: 978px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5em;
            padding: 4em 0 7em;
        }

        .card {
            display: flex;
            flex-wrap: wrap;
            // flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $border_color;
            border-bottom: 0.5em solid $btn_color;
            padding: 2.8em 4.8em;
            font-family: 'Bebas Neue';

            .product__icon {
                max-width: 25em;
            }

            .card__title {
                color: $text_color;
                text-decoration: none;
                font-size: 2.7em;
                width: 100%;
                text-align: center;
                margin: 1em 0;

                &:hover {
                    color: #000000;
                    transition: all 0.5s;
                }
            }

            .card__total {
                font-size: 2.7em;
                color: $text_color;
            }
        }
    }
}