footer {
    background-color: #3cc3b5;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;
        left: 50%;
        margin-left: -50vw;
        background-color: #3cc3b5;
        z-index: -1;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4rem 0;
        .footer__links {
            list-style: none;
            color: #ffffff;
            width: 25%;
            padding-left: 0;

            .footer__title {
                font-size: 2.7rem;
                display: block;
                margin-bottom: 2rem;
                text-transform: uppercase;
                font-family: 'Bebas Neue';

            }
        }
    }

    .footer__author {
        position: relative;
        background-color: #2da89b;
        font-size: 1.5rem;
        color: #ffffff;
        text-align: center;
        padding: 1.5rem 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            left: 50%;
            margin-left: -50vw;
            background-color: #2da89b;
            z-index: -1;
        }
    }


    .footer.--link_item {
        font-size: 1.9rem;
        padding: 0;

        a {
            color: #ffffff;
            font-size: 1.5rem;
            text-decoration: none;

            &:hover {
                color: red;
                transition: all 0.5s;
            }
        }
    }
}