a:hover {
    color: rgb(17, 202, 0);
}

header {
    display: flex;
    flex-wrap: wrap;

    .header__wrapper {
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
    }

    nav.NavMain {
        list-style: none;
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
        
    }
}