a:hover {
    color: rgb(17, 202, 0);
}

header {
    display: flex;
    flex-wrap: wrap;
    
    .header__wrapper {
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
        padding: 2rem 0;
        align-items: center;
       
        .logo{
            font-size: 4.9rem;
            color: #39c6b2;
            font-family: 'Lobster';
        }
        input{
            height: 3rem;
            border-radius: 0;
            border:1px solid grey;
            width: 45%;
            position: relative;
            &:after{
                position: absolute;
                
             
            }
        }
    }

    nav.NavMain {
        list-style: none;
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
        
    }
}