.container {
    .bigSlider {
        position: relative;
         padding: 1rem 0;
        .slide__item {
            .item__content {
                color: #ffffff;

                .content__title {
                    font-size: 6.1rem;
                    font-family: 'Bebas Neue';

                }

                .content__text {
                    font-family: 'Open Sans';
                    font-size: 1.7rem;
                }

                .btn {
                    margin-top: 3rem;

                    &:hover {
                        color: #ff0000;
                        border-color: #ff0000;
                    }
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 100vw;
            left: 50%;
            margin-left: -50vw;
            background-color: #3cc3b5;
            z-index: -1;
        }
        .slick-dots{
            bottom: 3rem;
            & li button::before{
                color: #ffffff;
            }
        }
        .slick-track {
            display: flex;
            height: 100%;
          }
          .slick-track .slick-slide {
            display: flex;
            height: auto;
          }
    }

    .smallSlider {
        padding: 1rem 0;
        .slide__item{
            .content__title{
                font-size: 2.7rem;
                color: #000000;
                font-family: 'Bebas Neue';
                padding-right: 5rem;
                
            }
            .btn.small{
                margin-top: 2rem;
            }
        }
        .slick-prev, .slick-next{
            &::before{
                color: #000000;
            }
        }
    }

    .slide__item {
        display: flex !important;
        flex-direction: row;
        align-items: center;

        img {
            width: 45%;
        }

        .item__content {
            width: 55%;
        }
    }

    .slick-track {
        display: flex;
        align-content: center;
        align-items: center;
        
    }
}