.navigation2 {
    display: flex;
    padding: 2rem 0;

    li {
        list-style: none;
        &+li{
            margin-left: 2rem;
        }
        a {
            font-size: 1.6rem;
            font-weight: 500;
            &:hover{
                color: #006491;
            }
        }
    }
}