.pizza__page {
  

    .banner {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: #0000003a;

        }

        img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;

        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4.8rem;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        .card {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: relative;
            margin-bottom: 5rem;
            .addToFavorit{
                position: absolute;
                right: 0;
                top: 0;
            }
            .product__title__wrapper {
                font-weight: 700;
                font-size: 2.4rem;

                .product__title {
                    color: #dd082b;
                    margin-right: 0.8rem;
                    text-transform: uppercase;
                    text-align: center;
                }

                .product__price {
                    color: #172c3a;
                }
            }

            .product__logdescription {
                font-size: 1.6rem;
                line-height: 1.9rem;
                margin-bottom: 1.9rem;
                text-align: center;
                color: #172c3a;
            }

        }
    }
}