.pizza__page {
  

    .banner {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: #0000003a;

        }

        img {
            width: 100%;
            
            -o-object-fit: cover;
            object-fit: cover;

        }

        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 4.8rem;
            font-weight: 700;
            color: #fff;
            text-align: center;
            text-shadow: 0 2px 35px rgba(0,0,0,0.5),0 2px 34px rgba(0,0,0,0.5),0 2px 3px rgba(0,0,0,0.5);
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        .card {
            width: 33.33%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            position: relative;
            padding: 0 1.5rem;
            margin-bottom: 5rem;
            .icon__heart:hover, .icon__heart.active{
               &::before{
                  content: '\E80C';
                  color: #dd082b;
               }
            }
            
            .addToFavorit{
                position: absolute;
                right: 5rem;
                top: 3rem;
                cursor: pointer;
                img{
                    height: 2.5rem;
                    width: 2.5rem;
                    &.heartHover{
                        display: none;
                    }
                }
            }
            .product__icon{
                display: block;
                object-fit: contain;
            }
            .product__title__wrapper {
                font-weight: 700;
                font-size: 2.4rem;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                .product__title {
                    color: #dd082b;
                    text-transform: uppercase;
                    text-align: center;
                }

                .product__price {
                    color: #172c3a;
                    margin-bottom: 1rem;
                }
            }
            .infoTag{
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                .tagIcon{
                    margin-right: 1rem;
                }
            }
            .product__logdescription {
                font-size: 1.6rem;
                line-height: 1.9rem;
                margin-bottom: 1.9rem;
                text-align: center;
                color: #172c3a;
            }

        }
    }
    .pagination__bottom{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        .pagination{
            display: flex;
            justify-content: center;
            button{
               margin: 0 .25rem;
            }
            .active{
               // border: 1px solid red;
               background-color: #006491;
            }
        }
        .paginaion_buttons{
            display: flex;
            column-gap: 2rem;
        }
    }
    
}