footer {
    padding-bottom: 5.7rem;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 100vw;
        height: 100%;
        left: -50vw;
        top: 0;
        margin-left: 50%;
        background-color: lightcyan;
        z-index: -1;
        background-image: linear-gradient(to bottom, #fefefd 0px, #f6f1eb 28.3rem, #f1eae2 28.3rem, #f1eae2 28.5rem, #fff 28.5rem);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    }

    .footer__links {
        padding: 2rem 0;
        &.--first{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            border-bottom: 1px solid #F6F1EB;
        }
        &.--second {
            display: flex;

            li+li {
                margin-left: 1rem;
            }
        }
    }
    .developer{
        text-align: center;
    }

}

.socialMedia {
    display: flex;

    li+li {
        margin-left: 1rem;
    }

    img {
        width: 2rem;
        height: 2rem;
    }
}