nav {
    display: flex;
    list-style: none;
    padding: 2rem 0;

    li {
        a {
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: 500;
        }

        &+li {
            margin-left: 2rem;
            padding: 0 1rem;
        }
    }

}