nav {
    display: flex;
    list-style: none;
    // padding: 2rem 0;

    li {
        padding: 1rem;
        margin: 1rem .5rem ;
        border: 3px solid transparent;
        transition: all .5s;
        border: 3px solid #ffffff;
        background-color: #dd082b;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.28);
        position: relative;
        
        a {
            font-size: 1.6rem;
            text-transform: capitalize;
            font-weight: 500;
            color: white;
        }
        &:first-child{
           
            margin-left: 0;
        }
        &+li {
            margin-left: 2rem;
            
        }

    }

}