 .order_page {
     .order_page_top {
         position: relative;

         .takeInform {
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             width: calc(65%);
             background: #fff;
             border-radius: .8rem;

             .takeInform_top {
                 display: flex;
                 justify-content: space-around;
                 margin: 2rem 0;
                 box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.15);
                 padding-bottom: 2rem;

                 span {
                     font-size: 1.6rem;
                     line-height: 1.9rem;
                     display: block;
                     cursor: pointer;
                     transition: all .5s;

                     &:hover {
                         color: #dd082b;
                     }
                 }
             }

             .takeInform_content {
                 display: flex;
                 justify-content: space-around;
                 padding: 0 2rem;

                 .content_item {
                     display: flex;
                     flex-direction: column;

                     img {
                         max-width: 20rem;
                     }

                     span {
                         font-size: 1.6rem;
                         line-height: 1.9rem;
                         font-weight: 700;
                         color: #192b38;
                         margin: 1rem 0;
                         text-align: center;
                     }
                 }
             }
         }
     }

     .takeContent {
         background-color: rgba(244, 239, 232, 0.4);
         //  max-width: 31.2rem;
         max-width: 45%;
         padding: 2rem 2.4rem 2.7rem;
         border-radius: 0.8rem;

         .recapitulation {
             .recap_title {
                 display: block;
                 font-size: 1.8rem;
                 line-height: 2.2rem;
                 text-transform: capitalize;
                 padding-bottom: 1rem;
                 font-weight: 800;

             }

             .listProducts {
                 .choosedProduct {
                     display: flex;
                     justify-content: space-between;
                     align-content: center;
                     align-items: center;
                     margin: 1rem 0;
                     border-bottom: 2px solid #f4efe8;
                     padding-bottom: 1rem;

                     .product_name {
                         width: 100%;
                         font-size: 1.4rem;
                         line-height: 1.7rem;
                         font-weight: 700;
                         text-transform: uppercase;
                         word-break: break-word;
                         vertical-align: top;
                     }

                     .product_descrip {
                         font-size: 1.2rem;
                         line-height: 1.4rem;
                         color: #b4aea7;
                         margin-top: 0.6rem;
                     }

                     .aboutProduct {
                         display: flex;
                         flex-direction: column;
                     }

                 }
             }

             .total {
                 display: flex;
                 justify-content: space-between;
                 font-size: 1.5rem;
                 font-weight: 700;
                 span {
                     display: block;
                 }
                 .total_price.underline{
                     text-decoration: line-through;
                 }
             }
             .salePrice{
                display: flex;
                flex-direction: column;
                font-size: 1.8rem;
                line-height: 2.2rem;
                font-weight: 700;
                margin: 1rem 0;
                span {
                    display: block;
                    &.discount{
                        text-align: center;
                    } 
                    &.discountPrice{
                        text-align: end;
                    }  
                }
             }
         }


     }
 }