@import './Fonts.scss';

* {
    box-sizing: border-box;
    font-family: "Museo Sans"
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;

}

#root {
    font-size: 1.4rem;
}

button {
    font-size: 1.4rem;
    border-radius: .8rem;
    padding: 1.4rem 2rem;
    cursor: pointer;

    &.solid {
        width: max-content;
        display: block;
        color: #ffffff;
        border: 3px solid #ffffff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.28);
        background-color: #dd082b;
        transition: all 0.3s;
        text-transform: uppercase;
        &:hover {
            background-color: #81071c;
        }
    }



    &.outline {
        color: #ffffff;
        border: 3px solid #dd082b;
        color: #dd082b;
        background-color: #ffffff;

        &:hover {
            border-color: #006491;
            color: #006491;
            ;
        }
    }
}

a {
    text-decoration: none;
    color: #172c3a;

    &:hover {
        color: #006491;
    }
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    color: #172c3a;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
}

.layout.menu__page {
    margin: 2rem 0;
}

.big_lable {
    text-align: center;
    margin: 2rem;
}

.input_solid {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #192b38;
    padding: 16px 20px 15px 20px;
    margin-top: 8px;
    border: 2px solid #f4efe8;
}


.bage_counter {
    height: 2.2rem;
    width: 2.2rem;
    line-height: 2.2rem;
    background-color: #fff;
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: 2;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #dd082b;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.28);
    font-weight: 700;
}

.slick-slider {
    .slick-arrow {
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        font-size: 3rem;
    }

    .slick-next {
        right: 4rem;

        &::before {
            content: '\E814';
            font-family: 'fontello';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }

    .slick-prev {
        left: 4rem;

        &::before {
            content: '\E816';
            font-family: 'fontello';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
    }
    .slick-dots{
        button{
            padding: 0;
            border-radius: unset;
        }
    }
}
input.inputs{
    margin: 0 auto;
    margin-top: 0px;
font-size: 1.4rem;
line-height: 1.7rem;
color: #192b38;
padding: 16px 20px 15px 20px;
margin-top: 8px;
border: 2px solid #f4efe8;
border-radius: 0.8rem;
width: 100%;

}

.selects{
    width: 100%;
height: 100%;
text-align: left;
line-height: 5rem;
padding: 16px 20px 15px 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
-webkit-user-select: none;
user-select: none;
border: 2px solid #f4efe8;
border-radius: .8rem;
}