@import './Fonts.scss';

* {
    box-sizing: border-box;
    font-family: "Museo Sans"
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
   
}

#root {
    font-size: 1.4rem;
}

button {
    font-size: 1.4rem;
    border-radius: .8rem;
    padding: 1.4rem 2rem;
    cursor: pointer;
    
    &.solid {
        width: max-content;
        display: block;
        color: #ffffff;
        border: 3px solid #ffffff;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.28);
        background-color: #dd082b;
        transition: all 0.3s;
        &:hover {
            background-color: #81071c;
        }
    }

    

    &.outline {
        color: #ffffff;
        border: 3px solid #dd082b;
        color: #dd082b;
        background-color: #ffffff;
    
        &:hover{
            border-color: #006491;
            color: #006491;;
        }
    }
}

a {
    text-decoration: none;
    color: #172c3a;
    &:hover{
        color: #006491;
    }
}

#root {
    max-width: 1200px;
    margin: 0 auto;
    color: #172c3a;
}

img {
    max-width: 100%;
}

h1 {
    margin: 0;
}
.layout.menu__page{
    margin: 2rem 0;
}
.big_lable{
    text-align: center;
    margin: 2rem;
}