@font-face{
    font-family: "Museo Sans";
    src : url("./fonts/MuseoSansCyrl-500.ttf"),
    url('./fonts/MuseoSansCyrl-500.woff'),
    url('./fonts/MuseoSansCyrl-500.woff2');
    font-weight: 500;
}