@font-face{
    font-family: "Museo Sans";
    src : url("./fonts/MuseoSansCyrl-500.ttf"),
    url('./fonts/MuseoSansCyrl-500.woff'),
    url('./fonts/MuseoSansCyrl-500.woff2');
    font-weight: 500;
}



@font-face {
    font-family: 'fontello';
    src: url('./fonts/fontello.eot');
    src: url('./fonts/fontello.eot') format('embedded-opentype'),
         url('./fonts/fontello.woff') format('woff2'),
         url('./fonts/fontello.woff') format('woff'),
         url('./fonts/fontello.ttf') format('truetype'),
         url('./fonts/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.icon{
    font-family: 'fontello';
}

.icon__phone::before{
    content: '\E802';
}