.basket_page{
    .product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .infoTag{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}